<!DOCTYPE html>
<html ng-app="ores">
<head>
    <title>ORES</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Site Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/iconeffects.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/login_demo.css" />
        <link rel="stylesheet" type="text/css" href="css/login_style.css" />
        <link rel="stylesheet" type="text/css" href="css/login_animate-custom.css" />

    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/form.css" rel="stylesheet" />
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <link href='//fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/dev.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js"></script>
</head>
<body ng-controller="indexController">
    <div class="header1 w3ls wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand link link--yaku" href="#/home">
                            <img src="images/7.png" />
                        </a>
                    </h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil banner-right" id="bs-example-navbar-collapse-2">
                    <nav class="cl-effect-1">
                        <ul class="navbar-logo">
                            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="">Site Map</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('faqs')" href="javascript:void(0)">FAQS</a></li>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="">Contact Us</a></li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="">Feedback</a></li>
                            <li ng-show="!authentication.isAuth"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a ng-click="fnGoToPage('devlogin')" href="javascript:void(0)">Developer's Login</a></li>
                            <li ng-show="authentication.isAuth && authentication.userType==='D'"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i><a ng-click="logOut();" href="javascript:void(0)">Developer Logout</a></li>
                            <li ng-show="!authentication.isAuth"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a ng-click="fnGoToPage('memlogin')" href="javascript:void(0)" >Member’s Login</a></li>
                            <li ng-show="authentication.isAuth && authentication.userType==='M' "><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a ng-click="logOut();" href="javascript:void(0)">Member Logout</a></li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="">Forum</a></li>
                        </ul>
                        <ul class="navbar-logo">
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="">From the Govt. Desk</a></li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="">Useful Links</a></li>
                            <li><a href="" class="btn btn-default">Live Video</a></li>
                            <li><input type="text" placeholder="Search" class="input-sm" /> <a href="" class="btn btn-default glyphicon glyphicon-search"></a></li>
                        </ul>
                    </nav>
                </div><!-- /navbar-collapse -->
            </nav>
        </div>
    </div>
    <div class="header w3ls wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="cl-effect-1">
                        <ul class="nav navbar-nav ">
                            <li><a class="hvr-overline-from-center active"ng-click="fnGoToPage('home')" href="javascript:void(0)">Home</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('about')" href="javascript:void(0)">About</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('membership')" href="javascript:void(0)">Membership</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('training')" href="javascript:void(0)">Training</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('projects')" href="javascript:void(0)">Projects</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('events')" href="javascript:void(0)">Events</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('media')" href="javascript:void(0)">Media Room</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('yellowpages')" href="javascript:void(0)">Yellow Pages</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('circulars')" href="javascript:void(0)">Circulars</a></li>
                            <li><a class="hvr-overline-from-center" ng-click="fnGoToPage('psearch')" href="javascript:void(0)">Project Search</a></li>
                            
                        </ul>
                    </nav>
                </div><!-- /navbar-collapse -->
            </nav>
        </div>
    </div>
    <div ng-view=""></div>
  
    <!--<div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819" style="border:0"></iframe>
    </div>-->
    <!-- //map -->
    <div class="footer w3agile wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
        <div class="container">
            <!-- <div class="foo-arr text-center"><img src="images/arrows.png" alt=" "/></div> -->
            <div class="col-md-4 footer-left">
                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><p>N-2/95,Nayapali<span>Bhubaneswar</span><span>751015,Odisha</span></p>
            </div>
            <div class="col-md-4 footer-left">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><p><a href="sumeetsbiswal@gmail.com">sumeetsbiswal@gmail.com</a></p>
            </div>
            <div class="col-md-4 footer-left">
                <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><p>+9437947419</p>
            </div>
            <div class="clearfix"></div>
            <div class="copyrights w3">
                <div class="copy-left">
                    <p>© 2016 ORES. All rights reserved | Design by <a href="http://www.liveodia.co.in">ORES</a></p>
                </div>
                <div class="copy-right agileinfo">
                    <ul class="fb_icons">
                        <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!--<script src="App/app.js"></script>
    <script src="App/Controllers/indexController.js"></script>
    <script src="App/Controllers/homeController.js"></script>
    <script src="App/Controllers/devLoginCtrl.js"></script>
    <script src="App/Controllers/memLoginCtrl.js"></script>
    <script src="App/Controllers/devSignupCtrl.js"></script>
    <script src="App/Controllers/memSignupCtrl.js"></script>
    <script src="App/Controllers/aboutController.js"></script>
    <script src="App/Controllers/membershipCtrl.js"></script>
    <script src="App/Controllers/circularsCntrl.js"></script>
    <script src="App/Controllers/eventsCntrl.js"></script>
    <script src="App/Controllers/faqsCntrl.js"></script>
    <script src="App/Controllers/mediaCtrl.js"></script>
    <script src="App/Controllers/projectsCtrl.js"></script>
    <script src="App/Controllers/psearchCntrl.js"></script>
    <script src="App/Controllers/trainingCntrl.js"></script>
    <script src="App/Controllers/ypagesCntrl.js"></script>
    <script src="App/Controllers/devProfileCntrl.js"></script>
    <script src="App/Controllers/memberProfileCtrl.js"></script>

    <script src="App/Services/memSignupService.js"></script>
    <script src="App/Services/devSignupService.js"></script>

    <script src="App/Services/ShareService.js"></script>
    <script src="App/Services/loginService.js"></script>-->
    <script src="dist/min/main.min.js"></script>
</body>
</html>