<div class="container" style="padding-top:30px;padding-bottom:30px">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <h2>Developer Sign up Page</h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" ng-model="developer.buildername" placeholder="NAME OF THE BUILDER">
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-lg" ng-model="developer.ownerName" placeholder="OWNER NAME">
                    </div>
                    <div class="form-group">
                        <input type="text" name="website" id="website" class="form-control input-lg" ng-model="developer.website" placeholder="WEBSITE">
                    </div>
                    <div class="form-group">
                        <textarea name="address" id="address" class="form-control input-lg" ng-model="developer.address" placeholder="ADDRESS"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="number" name="phno" id="phno" max="10" class="form-control input-lg" ng-model="developer.phno" placeholder="CONTACT NUMBER">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-lg" ng-model="developer.email" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-lg" ng-model="developer.password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" ng-model="developer.cpassword" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" ng-click="saveDeveloper(developer)"></div>
                        <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>