<div class="explore agile all_pad ">
    <div class="container">
        <div class="explore-grids">
            <div class="col-md-12 col-sm-12 col-lg-12 wow zoomIn animated" data-wow-duration="1.5s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: zoomIn;">

                <section class="jk-slider">
                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example" data-slide-to="1"></li>
                            <li data-target="#carousel-example" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="hero">
                                    <hgroup>
                                        <h1>Search for</h1>
                                        <h3>the books you need and save ! </h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                                    </hgroup>

                                </div>
                                <div class="overlay"></div>
                                <a href="#"><img src="http://placekitten.com/1600/600" /></a>

                            </div>
                            <div class="item">
                                <div class="hero">
                                    <hgroup>
                                        <h1>Search for</h1>
                                        <h3>the books you need and save ! </h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                                    </hgroup>

                                </div>

                                <div class="overlay"></div>
                                <a href="#"><img src="http://placekitten.com/1600/600" /></a>

                            </div>
                            <div class="item">
                                <div class="hero">
                                    <hgroup>
                                        <h1>Search for</h1>
                                        <h3>the books you need and save ! </h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                                    </hgroup>

                                </div>
                                <div class="overlay"></div>
                                <a href="#"><img src="http://placekitten.com/1600/600" /></a>

                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </section>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 wow zoomIn all-margin" data-wow-duration="1.5s" data-wow-delay="0.1s">

                <div class="col-md-3 col-sm-12 col-lg-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">Video Gallery<a href="" class="pull-right" />View more</a></div>
                        <div class="panel-body">Highlights of 12th National Convention on Housing for All 2022 and Real Estate Awards</div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Events and Exhibitions<a href="" class="pull-right" />View more</a></div>
                        <div class="panel-body">Highlights of 12th National Convention on Housing for All 2022 and Real Estate Awards</div>
                    </div>

                    <div class="panel panel-success">
                        <div class="panel-heading">What’s New <a href="" class="pull-right" />View more</a></div>
                        <div class="panel-body">
                            13th National Convention on
                            Aug. 19, 2016 - Aug. 20, 2016
                            at Hotel Taj Palace, S P Marg, New Delhi
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading">Industry Research Reports<a href="" class="pull-right" />View more</a></div>
                        <div class="panel-body">
                            Certificate Course for Real Estate Agents, Sales Persons and Direct Sale & Home Loan Agents Delhi starting from 3rd - 20th May, 2016, Last date for Nomiation is 29th April 2016

                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3">
                    <div class="card card-block">
                        <h4 class="card-title">News & Updates</h4>
                        <ul>
                            <li class="card-border">
                                <p class="card-text">Demonetisation will make real estate market transparent.</p>
                                <a href="#" class="card-link">Financial</a>
                                <br />
                                <a href="#" class="card-link">Chronicle  |  December 23, 2016</a>
                            </li>
                            <li class="card-border">
                                <p class="card-text">Demonetisation will make real estate market transparent.</p>
                                <a href="#" class="card-link">Financial</a>
                                <br />
                                <a href="#" class="card-link">Chronicle  |  December 23, 2016</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-lg-3">
                    <div class="card card-block">
                        <h4 class="card-title">Articles</h4>
                        <ul>
                            <li class="card-border">
                                <p class="card-text">Affordable Instruments: REITs may hold investment shifting from property market.</p>
                                <a href="#" class="card-link">written by Anuj Puri, published in The Indian Express,  December 5, 2016.</a>
                            </li>
                            <li class="card-border">
                                <p class="card-text">Affordable Instruments: REITs may hold investment shifting from property market.</p>
                                <a href="#" class="card-link">written by Anuj Puri, published in The Indian Express,  December 5, 2016.</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-lg-3 explore-left wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                    <div class="main">
                        <form action="#" method="post" class="ng-pristine ng-valid">
                            <h4>Search By Location/Developer or Both</h4>
                            <div class="section-top">
                                <select onchange="change_country(this.value)" class="frm-field required">
                                    <option value="null">Location</option>
                                    <option value="null">Property By Id</option>
                                    <option value="null">Location</option>
                                    <option value="AX">Type</option>
                                    <option value="AX">Status</option>
                                    <option value="AX">Price</option>
                                </select>
                            </div>
                            <div class="section-top">
                                <select onchange="change_country(this.value)" class="frm-field required">
                                    <option value="null">Developer</option>
                                    <option value="null">Single</option>
                                    <option value="AX">Duplex</option>
                                    <option value="AX">Retail</option>
                                    <option value="AX">Multi Family</option>
                                </select>
                            </div>
                            <div class="section-top">
                                <select onchange="change_country(this.value)" class="frm-field required">
                                    <option value="null">Property Type</option>
                                    <option value="null">Australia</option>
                                    <option value="AX">Sweden</option>
                                    <option value="AX">Netherlands</option>
                                    <option value="AX">Bangkok</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <div class="range-slider">
                                <h4>Price range</h4>
                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 6.22222%; width: 60.4444%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 6.22222%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 66.6667%;"></a></div>
                                <script type="text/javascript" src="js/jquery-ui.js"></script>
                                <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;">
                            </div>
                            <input type="submit" value="Search">
                        </form>
                        <form>
                            <div class="section-top">
                                <h4>Search By Project Name</h4>
                                <input type="text" class="text_box" placeholder="Project Name">
                                <input type="submit" value="Search">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>