<div class="container">
    <section>
        <div id="container_demo">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form autocomplete="on">
                        <h1>Member Login</h1>
                        <p>
                            <label for="username" class="uname"> <i class="glyphicon glyphicon-user"></i> Your email or username </label>
                            <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com" ng-model="member.username" />
                        </p>
                        <p>
                            <label for="password" class="youpasswd"><i class="glyphicon glyphicon-lock"></i> Your password </label>
                            <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" ng-model="member.password" />
                        </p>
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <p class="login button">
                            <input type="submit" value="Login" ng-click="memberLogin(member);"/>
                        </p>
                        <p class="change_link">
                            Not a member yet ?
                            <a href="#/memsignup">Member Register</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
