<div class="container" style="padding-top:30px;padding-bottom:30px">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form">
                <h2>APPLICATION <small>FOR MEMBERSHIP</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="form-group">
                        <input type="text" name="organisation" id="organisation" class="form-control input-lg" placeholder="Name of the Organisation" ng-model="member.organisation" tabindex="1">
                    </div>

                    <div class="form-group">
                        <input type="text" name="pan" id="pan" class="form-control input-lg" placeholder="PAN of the Organisation" ng-model="member.pan" tabindex="1">
                    </div>
                    <div class="form-group">
                        <input type="text" name="chairman" id="chairman" class="form-control input-lg" placeholder="Chairman /MD" ng-model="member.chairman" tabindex="1">
                    </div>
                    <div class="form-group">
                        <textarea name="address" id="address" class="form-control input-lg" ng-model="member.address" placeholder="Address"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="number" name="phno" id="phno" class="form-control input-lg" placeholder="Tel No." ng-model="member.phno" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="fax" id="fax" class="form-control input-lg" placeholder="Fax No." ng-model="member.fax" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="number" name="mobile" id="mobile" class="form-control input-lg" placeholder="Mobile No." ng-model="member.mobile" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email ID" ng-model="member.email" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="website" id="website" class="form-control input-lg" placeholder="Website" ng-model="member.website" tabindex="3">
                </div>
                <div class="form-group">
                    <input type="text" name="representative" id="representative" class="form-control input-lg" placeholder="Name of the Representative" ng-model="member.representative" tabindex="4">
                </div>
                <div class="form-group">
                    <input type="text" name="designation" id="designation" class="form-control input-lg" placeholder="Designation" ng-model="member.designation" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="number" name="rmobile" id="rmobile" class="form-control input-lg" placeholder="Mobile No." ng-model="member.rmobile" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="email" name="remail" id="remail" class="form-control input-lg" placeholder="Email ID" ng-model="member.remail" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                           <label class="form-group">Category</label>
                             <select class="form-control input-lg" ng-change="changeRelated();"
                                ng-options="option.category for option in Category track by option.cid"
                                ng-model="categoryData"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-group">Price Rang</label>
                            <select class="form-control input-lg" ng-change="changepriceRang();"
                                    ng-options="option.prang for option in priceRang track by option.pid"
                                    ng-model="priceRangData"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control input-lg" id="password" name="password" ng-model="member.password" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" id="cpassword" name="cpassword" ng-model="member.cpassword" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                            <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                        </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> We have gone through the constitution of ORES. In the event of being admitted as Member, we shall undertake to abide by the rules, regulations and by-laws and closely adhere to the code of ethics of the Council.
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" ng-click="saveMember(member)" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                </div>
            </form>
        </div>
    </div>
</div>